<body>

    <section id="person">
        <div class="person-content">
            <div class="person-name">
                <h1>Hello, <span></span></h1>
                <h1>My Name is <span></span></h1>
                <h1>Gabriel Evaristo <span></span></h1>
                <h1>I'm Front-end Dev <span></span></h1>
            </div>
        
        <div class="stack-content">
            <h3>->Techs :</h3>
            <div class="stacks">
                <ul>
                    <li><div data="ANGULAR"><img src="../../../assets/angular.png" alt="angular-icon"></div></li>
                    <li><div data="C"><img src="../../../assets/c.png" alt="c-icon"></div></li>
                    <li><div data="CSS3"><img src="../../../assets/css-3.png" alt="css-icon"></div></li>
                    <li><div data="HTML5"><img src="../../../assets/html-5.png" alt="html-icon"></div></li>
                    <li><div data="PYTHON"><img src="../../../assets/python.png" alt="python-icon"></div></li>
                    <li><div data="MYSQL"><img src="../../../assets/mysql.png" alt="mysql-icon"></div></li>
                    <li><div data="TYPESCRIPT"><img src="../../../assets/typescript.png" alt="ts-icon"></div></li>
                    <li><div data="JAVASCRIPT"><img src="../../../assets/js.png" alt="js-icon"></div></li>
                    
                </ul>
            </div>
        </div>
        </div>

        <div class="person-background">
            <div class="btn-cv">
                <button >
                    <img src="../../../assets/download.png" alt="Download">
                    <p>Currículo</p>
                </button>
            </div>
            <div class="wrapper-profile-photo"><img src="../../../assets/evinhas.png" alt=""></div>
            <div class="links">
                <a href="https://github.com/evinhassoft" target="_blank"><img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/gabriel-evaristo/" target="_blank"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com/evaristo_eng/" target="_blank"><img src="../../../assets/instagram.png" alt="instagram"></a>
            </div>
        </div>
        
        
    </section>

</body>