<body>

    <section id="person">
        <div class="person-content">
            <div class="person-name">
                <h1>Hello, <span></span></h1>
                <h1>My Name is <span></span></h1>
                <h1>Gabriel Evaristo <span></span></h1>
                <h1>I'm a Front-end Dev <span></span></h1>
            </div>
        
        <div class="stack-content">
            <h3>Techs :</h3>
            <div class="stacks">
                <ul>
                    <li><div data="ANGULAR"><img src="../../assets/angular.png" alt="angular-icon"></div></li>
                    <li><div data="C"><img src="../../assets/c.png" alt="c-icon"></div></li>
                    <li><div data="CSS3"><img src="../../assets/css-3.png" alt="css-icon"></div></li>
                    <li><div data="HTML5"><img src="../../assets/html-5.png" alt="html-icon"></div></li>
                    <li><div data="PHP"><img src="../../assets/php.png" alt=""></div></li>
                    <li><div data="PYTHON"><img src="../../assets/python.png" alt="python-icon"></div></li>
                    <li><div data="MYSQL"><img src="../../assets/mysql.png" alt="mysql-icon"></div></li>
                    <li><div data="TYPESCRIPT"><img src="../../assets/typescript.png" alt="ts-icon"></div></li>
                    <li><div data="JAVASCRIPT"><img src="../../assets/js.png" alt="js-icon"></div></li>
                    
                </ul>
            </div>
        </div>
        </div>

        <div class="person-background">
            <div class="btn-cv">
                <button>
                    <a href="https://drive.google.com/file/d/18X3tWM6eK_anLZ9Dnu8QOAlIr78_vNhs/view?usp=sharing" target="_blank">
                    <img src="../../assets/download.png" alt="Download">
                    <p>Currículo</p>
                </a>
                </button>
            </div>
            <div class="wrapper-profile-photo"><img src="../../assets/evinhas.png" alt=""></div>
            <div class="links">
                <a href="https://github.com/evinhassoft" target="_blank"><img src="../../assets/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/gabriel-evaristo/" target="_blank"><img src="../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com/evaristo_eng/" target="_blank"><img src="../../assets/instagram.png" alt="instagram"></a>
            </div>
        </div>
        
        
    </section>

    <section id="about">
        <div class="about-background">
        </div>

        <div class="about-txt">
            <img class="deficiente"  alt="">
            <h1>A little about myself:</h1>
            <h3>I'm 21 years old and I'm PwD. <br> I'm currently studying the fifth period of Software Engineering
            <br>at UnB and I'm passionate about technology, especially in the Front-end area!</h3>
            <img class="coracao" src="../../assets/coracao.png" alt="">
                <img src="../../assets/programacao.png" class="front" alt="">
        </div>

    </section>

    <section id="projects">

        <div class="projects-list">

            <div class="engventure">
                <div class="img-engventure"><img src="../../assets/EngVenture.gif" alt=""></div>
                <div class="txt-engventure">
                    <h1>EngVenture</h1>
                    <p>This was a 2d game project.<br>Me, as a front-end developer, along with 6 other people, we used agile methodologies, with Photoshop, Gimp and Godot.<br>For more, visit the repository or download <br> the  game and play yourself: </p>
                        <div class="links-engventure">
                            <a class="download" href="https://www.mediafire.com/file/7i1uzhyzr68qt71/game-main.rar/file" target="_blank"><img src="../../assets/seta-para-baixo.png" alt=""></a>
                            <a class="github" href="https://github.com/matheusrazor/DS-time9" target="_blank"><img src="../../assets/github.png" alt=""></a>
                            <img src="../../assets/adobe-photoshop-cc-seeklogo.com.svg" alt="">
                            <img src="../../assets/gimp.png" alt="">
                            <img src="../../assets/godot.png" alt="">
                        </div>
                </div>
            </div>

            <div class="shortly">
                <div class="img-shortly"><img src="../../assets/em-breve.png" alt=""></div>
                <div class="txt-shortly">
                    <h1>Shortly</h1>
                    <p>This project is not ready yet, sorry. This project is not ready yet, sorry. This project is not ready yet, sorry. This project is not ready yet, sorry. This project is not ready yet, sorry. This project is not ready yet, sorry.</p>
                    <div class="links-shortly">
                        <img src="../../assets/html-5.png" alt="">
                        <img src="../../assets/css-3.png" alt="">
                        <img src="../../assets/js.png" alt="">
                        <img src="../../assets/typescript.png" alt="">
                        <img src="../../assets/angular.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="contact">
        <div class="contact">
        <h2>Contact</h2>
        <h3>Don't be shy! Let's talk! </h3>

        <div class="contact-list">
                <div class="ctc-email">
                    <a href="mailto:gabrielevaristo300@gmail.com"><img src="../../assets/o-email.png" alt=""></a>

                </div>

                <div class="ctc-zap">
                    <a href="https://wa.me/556199854451" target="_blank"><img src="../../assets/whatsapp.png" alt=""></a>
                </div>

                <div class="ctc-telegram">
                    <a href="https://t.me/evinhassoft" target="_blank"><img src="../../assets/telegram.png" alt=""></a>
                </div>
        </div>
        </div>
    </section>

</body>