body {
    background-color: #f1f1f1;
    height: 100%;
}


#person {
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-content {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.person-content div h1 {
    position: relative;
    padding: 0px 4px;
    font-size: 4rem;
    line-height: 6rem;
    color: transparent;
    width: fit-content;
    animation: written_tex .5s ease forwards;
}

.person-content div h1:nth-child(1) {
    animation-delay: 1s;
}

.person-content div h1:nth-child(2) {
    animation-delay: 2s;
}

.person-content div h1:nth-child(3) {
    animation: written_tex_name .5s ease forwards;
    animation-delay: 3s;
}

.person-content div h1:nth-child(4) {
    animation-delay: 4s;
}

.person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    animation: written_tex_box 1s ease;
    background-color: #CE5959;
    width: 0px;
    height: 100%;
}

.person-content div h1:nth-child(1) span {
    animation-delay: 1s;
}

.person-content div h1:nth-child(2) span {
    animation-delay: 2s;
}

.person-content div h1:nth-child(3) span {
    animation-delay: 3s;
}

.person-content div h1:nth-child(4) span {
    animation-delay: 4s;
}

@keyframes written_tex {
    100% {
        color: #222222;
    }
}


@keyframes written_tex_name {
    100% {
        color: #E70000;
    }
}

@keyframes written_tex_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        left: 100%;
        width: 0;

    }
}

.stack-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stack-content h3 {
    margin-left: 20px;
    margin-top: 12rem;
    color: #CE5959;
}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li {
    display: flex;
    position: relative;

    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.stacks ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    width: 10px;
    height: 10px;
    color: #E70000;
}

.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../assets/background.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    background:
        linear-gradient(270deg, transparent 12%, #f1f1f1),
        linear-gradient(180deg, transparent 22%, #f1f1f1);
}

.links a img {
    margin-top: 65px;
    margin-left: 5px;
    margin-right: 5px;
    filter: brightness(.8);
    width: 30px;
    transition: all .3s ease;
    z-index: 2;
}

.links a img:hover {
    transform: scale(1.3);
    filter: brightness(1);
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 20px 15px;


    border-radius: 50%;
    background:
        radial-gradient(rgba(255, 255, 255, 0.2) 60%, transparent 0),
        radial-gradient(#fff 68%, transparent 0),
        linear-gradient(to top right, #ffa500 0%, #ff1493 100%);
}

.wrapper-profile-photo img:hover {
    transform: scale(1.05);
}


.wrapper-profile-photo img {
    transition: all .3s ease;
    border-radius: 50%;
    width: 400px;
}

.btn-cv button img {
    width: 30px;
    margin-right: 2px;
}

.btn-cv button {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 110px;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    background: linear-gradient(to top right, #ffa500 0%, #ff1493 100%);
    color: #f1f1f1;
    height: 40px;
    margin-bottom: 70px;
    font-weight: 900;
    transition: .3s ease;
    opacity: .9;
}

.btn-cv button:hover {
    opacity: 1;
    transform: scale(1.2);
}

.btn-cv button a {
    display: flex;
    color: #f1f1f1;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

/* END PERSON */



#about {
    display: flex;
}

.about-background {
    height: 100vh;
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E70000;
    background-image: url(../../../assets/background-pcd.jpg);
    background-position: bottom right;
    background-size: cover;
    z-index: 1;
}

.about-txt {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    background-color: #f1f1f1;
}

.about-background::after {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    background:
        linear-gradient(180deg, transparent 0%, #f1f1f1),
        linear-gradient(0deg, transparent 0%, #f1f1f1),
        linear-gradient(90deg, transparent 0%, #f1f1f1);
}

.about-txt h1 {
    color: #E70000;
    padding-left: 100px;
    text-align: left;
    font-size: 4rem;
    line-height: 6rem;

}


.about-txt h3 {
    color: #222222;
    padding-left: 100px;
    line-height: 6rem;
    font-size: 3rem;
}

.deficiente {
    left: 700px;
    bottom: 650px;
    position: absolute;
    opacity: .3;
    width: 160px;
}

.coracao {
    bottom: 350px;
    left: 700px;
    opacity: .3;
    position: absolute;
    width: 160px;
}

.front {
    bottom: 50px;
    left: 700px;
    opacity: .3;
    position: absolute;
    width: 160px;
}

/* END ABOUT*/

/* START PROJECTS */

#projects {
    height: auto;
    background: #f1f1f1;
}

.projects-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
}

.projects-list .engventure {
    margin-top: 150px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.projects-list .engventure .img-engventure {
    width: 50%;
}

.projects-list .engventure .txt-engventure {
    width: 50%;

}

.projects-list .engventure .txt-engventure p {
    font-size: 2rem;
    margin-left: 100px;
    line-height: 3rem;
    font-weight: 700;
    color: #222222;
}

.projects-list .engventure .txt-engventure h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-left: 100px;
    line-height: 6rem;
    color: #E70000;
    position: relative;
}

.projects-list .engventure .img-engventure img {
    margin-left: 180px;
    border-radius: 25px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: all .3s ease;
    cursor: pointer;
}

.projects-list .engventure img:hover {
    transform: scale(1.1);
}

.projects-list .engventure .links-engventure {
    display: flex;
    margin-left: 70px;
}

.projects-list .engventure .links-engventure a img {
    margin-top: 30px;
    filter: brightness(.8);
    width: 50px;
    transition: all .3s ease;
}

.projects-list .engventure .links-engventure img {
    margin-left: 30px;
    margin-top: 30px;
    width: 50px;
    transition: all .3s ease;
}

.projects-list .engventure .links-engventure img:hover {
    transform: scale(1.3);
    filter: brightness(1);
}

.projects-list .engventure .links-engventure a img:hover {
    transform: scale(1.3);
    filter: brightness(1);
}

.projects-list .shortly .img-shortly img {
    margin-top: 150px;
    margin-left: 180px;
    border-radius: 25px;
    height: 400px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: all .3s ease;
    cursor: pointer;
}

.projects-list .shortly .img-shortly img:hover {
    transform: scale(1.1);
}

.projects-list .shortly {
    margin-bottom: 250px;
    margin-top: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}

.projects-list .shortly .txt-shortly {
    margin-top: 130px;
}

.projects-list .shortly .txt-shortly p {
    font-size: 2rem;
    margin-left: 200px;
    line-height: 3rem;
    font-weight: 700;
    color: #222222;
}

.projects-list .shortly .txt-shortly h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-left: 200px;
    line-height: 6rem;
    color: #E70000;
    position: relative;
}

.projects-list .shortly .txt-shortly .links-shortly {
    margin-left: 170px;
}

.projects-list .shortly .txt-shortly .links-shortly img {
    margin-left: 30px;
    margin-top: 30px;
    width: 50px;
    transition: all .3s ease;
}

.projects-list .shortly .txt-shortly .links-shortly img:hover {
    transform: scale(1.3);
}

/*End project Lists */

/*Start Contact*/

#contact {
    height: 450px;
    background: #fffdef;
}

.contact {
    top: 50px;
    position: relative;
}

.contact>h2 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 4rem;
    color: #E70000;
}

.contact h3 {
    text-align: center;
    font-size: 3rem;
    color: #222222;
}

.contact .contact-list {

    margin-top: 50px;
    justify-content: space-around;
    display: flex;

}

.contact-list img {
    width: 170px;
    cursor: pointer;
    transition: all .3s ease;
}

.contact-list img:hover {
    transform: scale(1.1);
}