<div class="navbar">

        <div class="logo"><a href="#">evinhas<p class="dev">.dev</p></a></div>
        <div class="links">
            <ul>
                <li class = nav_item><a class = "nav_link" href="#">Home</a></li>  
                <li class = nav_item><a class = "nav_link" href="#">About</a></li>  
                <li class = nav_item><a class = "nav_link" href="#">Projects</a></li>  
                <li class = nav_item><a class = "nav_link" href="#">Contact</a></li>  
                
                
            </ul>
        </div>

</div>